<div class="card bg-light text-center">
    <div class="card-header text-white text-left bg-dark">
      <h5>{{postcard.author.username}}</h5>
      <p *ngIf="postcard.communityName">From community: {{postcard.communityName}}</p>
    </div>
      <div class="card-body">
        <a [href] ="imgSource">
        <img [src]="imgSource" alt="Card image" class="img-fluid" style="width:auto; height:100%; max-height:500px">
      </a>
    </div>
    <div class="card-footer bg-dark text-white text-left" >{{postcard.author.username}}: {{postcard.caption}} <br/> 
      <div class = "text-muted">{{postcard.timePosted | date:'medium'}}</div>
      <a href="#" class="btn btn-light" id="commentModalBtn" type="button" class="btn btn-light" data-toggle="modal" data-target="#commentsModal" (click)="emitPostcardId()" 
      style="float: right;">Comments</a>
      <a href="#" class="btn btn-danger" id="removePostBtn" type="button" *ngIf="role === 'admin'" data-toggle="modal" data-target="#removePostModal" (click)="emitPostcardId()" 
      style="float: right;">Remove Post</a>
    </div>
</div>
