
<div class="modal fade" id="newPostModal" tabindex="-1" role="dialog" aria-labelledby="newPostModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="commentsModalTitle">What's happening?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form>
              <div class="form-group">
                <input type="file" id="file" (change)="onFileSelected($event)">
                <br/>
                <br/>
                <textarea class="form-control" id="comment-text" [(ngModel)]="caption" name = "caption" placeholder="Add a caption..."></textarea>
                
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary"  (click) = "create()" data-dismiss="modal">Post</button>
        </div>
      </div>
    </div>
</div>

