<div class="container">
    <h5><u>Welcome to the Society!</u></h5>
    <button class="btn btn-light" id = "#newPost" type="button" class="btn btn-primary" data-toggle="modal" data-target="#newPostModal" style="float: right;" >New</button>
    <ul>
        <li *ngFor="let postcard of postcards">
            <app-postcard (postcardId)="displayModal($event)" [postcard]="postcard"></app-postcard>
        </li>
    </ul>

    <app-modal [postcardId]="modalPostcardId"></app-modal>
    <app-new-postcard (updatePosts)="updatePosts()" [communityId] = "communityId"></app-new-postcard>

    <script>
      $('#newPostModal').on('shown.bs.modal', function () {
        $('#newPost').trigger('focus');
      })
      $('#commentsModal').on('shown.bs.modal', function () {
        $('#commentModalBtn').trigger('focus');
      })
    </script>
</div>
