<div class="modal fade" id="commentsModal" tabindex="-1" role="dialog" aria-labelledby="commentsModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="commentsModalTitle" >Comments</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <ul style="list-style: none;">
            <li *ngFor="let comment of comments">
                <b>{{ comment.author.username }}</b> {{ comment.text }}
                <p class = "text-muted">{{comment.timePosted | date:'medium'}}</p>
            </li>
          </ul>
        </div>
        <div class="modal-body">
            <form id="commentForm">
              <div class="form-group">
                <textarea name="commentText" class="form-control" [(ngModel)]="commentText" placeholder="Add a comment..."></textarea>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button (click)="postComment()" type="button" class="btn btn-primary">Send message</button>
        </div>
      </div>
    </div>
</div>
